#chevron-button{
    display: flex;
    justify-content: flex-end !important;
}

.side-nav{
    height: 100%;
    width: 0;
    position: temporary;
    z-index: 1;
    top:0;
    left:0;
    opacity: 0.5;
    overflow-x: hidden;
    padding-top: 100px;
    transition: 0.5s;
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.MuiPaper-root-15 {
    opacity:0.8 ;
}

.Header-appBarShift-3 {
    transition: 0.5s;
}