.main {
    transition: margin-left 0.5s !important;
    position: fixed;
    padding-top: 20px !important;
    overflow: hidden;
    width: 100%;
    border:1px solid #000000;
}

.CanvasContainer-content-2 {
margin-bottom: 0px !important;
}

.canvas-wrap{
    padding-left: 100px;
}

