.main {
    transition: margin-left 0.5s !important;
    position: fixed;
    padding-top: 20px !important;
    overflow: hidden;
    width: 100%;
    border:1px solid #000000;
}

.main-container {
    background-color: grey;
    margin-left: 0px;
}

.canvas-container{
    border:1px solid #000000;
    float: left;
    margin : 5px !important;
} 

.cavas-wrap {
    width: fit-content;
    margin: 2px;

}
