.main {
    transition: margin-left 0.5s !important;
    position: fixed;
    padding-top: 20px !important;
    overflow: hidden;
    width: 100%;
    border:1px solid #000000;
}

.main-container {
    margin-left: 0px;
}

.canvas-container{
    border:1px solid #000000;
    float: left;
    margin :5px !important;
    width:100%;
} 

.cavas-wrap {
    width: 100% !important;
    margin: 2px;
}
/* 

@media(max-width:1168px){
    .main-container{
        margin-left: 250px;
    }
} */