.sidebar-container{
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
}

.sidebar-container-right{
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-start;
}